:root {
    --color-primary: #495057;
    --color-secundary: #ADB5BD;
/*    --color2-primary: #A53860;
    --color2-secundary: #ffa5ab;
    --color3-primary:  #91a8a4;
    --color3-secundary: #afdedc;*/
}

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    font-family: 'Nova Mono', monospace;
    /*background-color: /*#353535#2d3142*/#46494c;*/

}

header {
    color: var(--color-primary);
    font-size: 2.4em;
    font-weight: 500;
    width: 100vw;
    height: 200px;
    padding-top: 10%;
    box-sizing: border-box;
    text-align: center;
    margin-top: 0;
    font-family: 'Ubuntu', sans-serif;

}

#pesquisa {
    height: 50px;
    text-align: center;
    padding-top: 15px;
}

#pesquisa input {
    background-color: transparent;
    font-size: 30px;
    padding-right: 15px;
    color: var(--color-primary);
    width: 25%;
    height: 40px;
    border-bottom: 3px solid var(--color-primary);
}

#pesquisa input::placeholder {
    font-size: 35px;
    color: var(--color-secundary);
}

#pesquisa input:focus {
    border-bottom: 3px solid var(--color-secundary);
    outline: none;
}

section {
    display: flex;
    width: 1000px;
    height: 400px;
    text-align: center;
    justify-content: space-evenly;
    padding-top: 40px;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
    box-sizing: border-box;
}

@media (max-width: 1366px) {
    header {
        padding-top: 5%;

    }
    
    section {
        margin-top: 2%;

    }
}

.block {
    /*background-color: /*#4a4e69#3a506b#4f5d75*/#4c5c68;
    border: 2px solid var(--color-primary);
    box-sizing: border-box;
    width: 200px;
    height: 300px;
    padding: 20px;
/*  -webkit-box-shadow: 10px 10px 0 -2px var(--color-secundary), 10px 10px 0 0 var(--color-primary);
    -moz-box-shadow: 10px 10px 0 -2px var(--color-secundary),10px 10px 0 0 var(--color-primary);
    box-shadow: 10px 10px 0 -2px var(--color-secundary), 10px 10px 0 0 var(--color-primary);*/
    -webkit-box-shadow: 5px 5px 0 -2px var(--color-secundary), 5px 5px 0 0 var(--color-primary);
    -moz-box-shadow: 5px 5px 0 -2px var(--color-secundary),5px 5px 0 0 var(--color-primary);
    box-shadow: 5px 5px 0 -2px var(--color-secundary), 5px 5px 0 0 var(--color-primary);
    transition: .8s;
    cursor: pointer;
    color: var(--color-primary);
}

.block:hover {
/*  -webkit-box-shadow: 5px 5px 0 -2px var(--color-secundary), 5px 5px 0 0 var(--color-primary);
    -moz-box-shadow: 5px 5px 0 -2px var(--color-secundary),5px 5px 0 0 var(--color-primary);
    box-shadow: 5px 5px 0 -2px var(--color-secundary), 5px 5px 0 0 var(--color-primary);*/
    -webkit-box-shadow: 10px 10px 0 -2px var(--color-secundary), 10px 10px 0 0 var(--color-primary);
    -moz-box-shadow: 10px 10px 0 -2px var(--color-secundary),10px 10px 0 0 var(--color-primary);
    box-shadow: 10px 10px 0 -2px var(--color-secundary), 10px 10px 0 0 var(--color-primary);
    width: 210px;
    height: 310px;
}

.block h2 {
    color: var(--color-primary);
}

.block h2 {
    font-size: 2em;
    margin-bottom: 30px;
    transition: .8s;
    font-family: 'Ubuntu', sans-serif;
}

.block:hover h2 {
    font-size: 2.4em;
}

.block li {
    list-style: none;
    font-size: 1.2em;
    transition: .8s;
}

.block:hover li {
    font-size: 1.4em;
}

.block a {
    text-decoration: none;
    color: var(--color-secundary);
}

.block a:hover {
    color: var(--color-primary);
    text-decoration: underline;
}

#seletor {
    position: fixed;
    display: flex;
    color: var(--color-primary);
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
    font-size: 10pt;
    z-index: 1;
    width: 270px;
    height: 65px;
    padding: 4px;
    box-sizing: border-box;
    bottom: 50px;
    right: -230px;
    border: 2px solid var(--color-primary);
    transition: .8s;
    /*background-color: #393E41;*/
}

#seletor:hover {
    right: 0px;
}

#seletor input {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

#arrow {
    width: 25px;
    height: 25px;
    border-top: 3px solid var(--color-primary);
    border-left: 3px solid var(--color-primary);
    transform: rotate(-45deg);
    margin: auto 10px auto 10px;
    transition: .8s;
}

#seletor:hover #arrow {
    transform: rotate(135deg);
    transition: .8s;
}